<!-- header.html (Mid_108B32079 project) -->
     <nav class='navbar navbar-default'>
        <div class='container-fluid'>
            <div class='navbar-header'>
                <div class='navbar-brand' align=center>
                    DJ心情貼文
                </div>
            </div>
            <ul class='nav navbar-nav'>
                <li class='active'><a href='/'>Home</a></li>
                <li><a href='/admin'>後台管理</a></li>
                <li><a href='/list'>貼文列表</a></li>
                <li><a href='/post'>發佈貼文</a></li>
                <li><a href='/content'>聯絡管理員</a></li>
                <li><a href='/post'>張貼訊息表單</a></li>
            </ul>
        </div>
    </nav>